In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from matplotlib import font_manager, rc

In [2]:
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
csv = pd.read_csv("./DP_LIVE_20042022150640523.csv")

In [4]:
csv

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0          AUS       CPI     TOT  AGRWTH         A  2017  1.948647         NaN
1          AUS       CPI     TOT  AGRWTH         A  2018  1.911401         NaN
2          AUS       CPI     TOT  AGRWTH         A  2019  1.610768         NaN
3          AUS       CPI     TOT  AGRWTH         A  2020  0.846905         NaN
4          AUS       CPI     TOT  AGRWTH         A  2021  2.863910         NaN
..         ...       ...     ...     ...       ...   ...       ...         ...
249  EU27_2020       CPI     TOT  AGRWTH         A  2017  1.600000         NaN
250  EU27_2020       CPI     TOT  AGRWTH         A  2018  1.800000         NaN
251  EU27_2020       CPI     TOT  AGRWTH         A  2019  1.400000         NaN
252  EU27_2020       CPI     TOT  AGRWTH         A  2020  0.700000         NaN
253  EU27_2020       CPI     TOT  AGRWTH         A  2021  2.900000         NaN

[254 rows x 8 columns]

In [5]:
csv = csv.drop(['INDICATOR'], axis=1)
csv = csv.drop(['SUBJECT'], axis=1)
csv = csv.drop(['MEASURE'], axis=1)
csv = csv.drop(['FREQUENCY'], axis=1)
csv = csv.drop(['Flag Codes'], axis=1)

In [6]:
csv

      LOCATION  TIME     Value
0          AUS  2017  1.948647
1          AUS  2018  1.911401
2          AUS  2019  1.610768
3          AUS  2020  0.846905
4          AUS  2021  2.863910
..         ...   ...       ...
249  EU27_2020  2017  1.600000
250  EU27_2020  2018  1.800000
251  EU27_2020  2019  1.400000
252  EU27_2020  2020  0.700000
253  EU27_2020  2021  2.900000

[254 rows x 3 columns]

In [7]:
csv['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'CHN', 'EST', 'IND', 'IDN',
       'ISR', 'RUS', 'SVN', 'ZAF', 'OECD', 'G-7', 'OECDE', 'COL', 'LVA',
       'SAU', 'EA19', 'ARG', 'LTU', 'G-20', 'EU27_2020'], dtype=object)

In [8]:
contry_lst = []
contry_lst = csv['LOCATION'].unique()

In [9]:
df = pd.DataFrame({'TIME':[2017, 2018, 2019, 2020, 2021]})

In [10]:
df

   TIME
0  2017
1  2018
2  2019
3  2020
4  2021

In [11]:
for contry in contry_lst:
    df[contry]=np.NaN

In [12]:
df

,TIME,AUS,AUT,BEL,CAN,CZE,DNK,FIN,FRA,DEU,...,G-7,OECDE,COL,LVA,SAU,EA19,ARG,LTU,G-20,EU27_2020
0,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
csv['LOCATION'].value_counts()

AUS          5
RUS          5
TUR          5
GBR          5
USA          5
BRA          5
CHL          5
CHN          5
EST          5
IND          5
IDN          5
ISR          5
SVN          5
AUT          5
ZAF          5
OECD         5
G-7          5
OECDE        5
COL          5
LVA          5
SAU          5
EA19         5
LTU          5
G-20         5
CHE          5
SWE          5
ESP          5
SVK          5
BEL          5
CAN          5
CZE          5
DNK          5
FIN          5
FRA          5
DEU          5
GRC          5
HUN          5
ISL          5
IRL          5
ITA          5
JPN          5
KOR          5
LUX          5
MEX          5
NLD          5
NZL          5
NOR          5
POL          5
PRT          5
EU27_2020    5
ARG          4
Name: LOCATION, dtype: int64

In [14]:
csv.loc[0]

LOCATION         AUS
TIME            2017
Value       1.948647
Name: 0, dtype: object

In [15]:
csv.loc[0]['LOCATION']

'AUS'

In [16]:
csv['TIME'][21]

2018

In [17]:
len(csv)

254

In [26]:
cnt = 0

for i in range(len(csv)):
    for contry in contry_lst:
        if csv.loc[i]['LOCATION'] == contry:
            print(contry, i, csv.loc[i]['Value'])
            df.replace( {contry : i}, csv.loc[i]['Value'])

AUS 0 1.948647
AUS 1 1.911401
AUS 2 1.610768
AUS 3 0.8469055
AUS 4 2.86391
AUT 5 2.081269
AUT 6 1.998382
AUT 7 1.530896
AUT 8 1.381909
AUT 9 2.766667
BEL 10 2.125971
BEL 11 2.053165
BEL 12 1.43682
BEL 13 0.7407918
BEL 14 2.440248
CAN 15 1.596884
CAN 16 2.268226
CAN 17 1.949269
CAN 18 0.7169997
CAN 19 3.395193
CZE 20 2.450534
CZE 21 2.149495
CZE 22 2.847876
CZE 23 3.161295
CZE 24 3.839845
DNK 25 1.147132
DNK 26 0.8136095
DNK 27 0.7581316
DNK 28 0.420712
DNK 29 1.853045
FIN 30 0.754015
FIN 31 1.083821
FIN 32 1.024094
FIN 33 0.2905546
FIN 34 2.194574
FRA 35 1.032283
FRA 36 1.850815
FRA 37 1.108255
FRA 38 0.4764988
FRA 39 1.642331
DEU 40 1.509497
DEU 41 1.732168
DEU 42 1.445667
DEU 43 0.5066899
DEU 44 3.14297
GRC 45 1.121259
GRC 46 0.6256205
GRC 47 0.2529927
GRC 48 -1.247972
GRC 49 1.223826
HUN 50 2.348243
HUN 51 2.850248
HUN 52 3.338586
HUN 53 3.326744
HUN 54 5.110965
ISL 55 1.760413
ISL 56 2.682915
ISL 57 3.013977
ISL 58 2.847919
ISL 59 4.444243
IRL 60 0.3405316
IRL 61 0.4883702
IRL 62 0.9390445
IRL 63 -0.3345846
IRL 64 2.358143
ITA 65 1.226533
ITA 66 1.137488
ITA 67 0.6112469
ITA 68 -0.1377076
ITA 69 1.873783
JPN 70 0.4841998
JPN 71 0.9890946
JPN 72 0.4687762
JPN 73 -0.02499583
JPN 74 -0.2333528
KOR 75 1.944332
KOR 76 1.475839
KOR 77 0.3830003
KOR 78 0.537288
KOR 79 2.498333
LUX 80 1.7308
LUX 81 1.528195
LUX 82 1.743321
LUX 83 0.8199573
LUX 84 2.52692
MEX 85 6.041456
MEX 86 4.899351
MEX 87 3.635961
MEX 88 3.396834
MEX 89 5.689209
NLD 90 1.381459
NLD 91 1.703498
NLD 92 2.633699
NLD 93 1.27246
NLD 94 2.67572
NZL 95 1.850787
NZL 96 1.598298
NZL 97 1.619632
NZL 98 1.714562
NZL 99 3.941121
NOR 100 1.875101
NOR 101 2.764831
NOR 102 2.16773
NOR 103 1.286585
NOR 104 3.483881
POL 105 1.975
POL 106 1.666667
POL 107 2.308333
POL 108 3.4
POL 109 5.1
PRT 110 1.368614
PRT 111 0.9937157
PRT 112 0.3381784
PRT 113 -0.01243833
PRT 114 1.265657
SVK 115 1.311946
SVK 116 2.514037
SVK 117 2.664561
SVK 118 1.936941
SVK 119 3.149606
ESP 120 1.956076
ESP 121 1.674981
ESP 122 0.699519
ESP 123 -0.322753
ESP 124 3.093135
SWE 125 1.794499
SWE 126 1.953535
SWE 127 1.784151
SWE 128 0.4973673
SWE 129 2.163197
CHE 130 0.5337878
CHE 131 0.9363354
CHE 132 0.3628862
CHE 133 -0.725875
CHE 134 0.5818142
TUR 135 11.14431
TUR 136 16.33246
TUR 137 15.17682
TUR 138 12.27896
TUR 139 19.59649
GBR 140 2.6
GBR 141 2.3
GBR 142 1.7
GBR 143 1.0
GBR 144 2.5
USA 145 2.13011
USA 146 2.442583
USA 147 1.81221
USA 148 1.233584
USA 149 4.697859
BRA 150 3.446373
BRA 151 3.66485
BRA 152 3.732976
BRA 153 3.211768
BRA 154 8.30166
CHL 155 2.182719
CHL 156 2.43489
CHL 157 2.557545
CHL 158 3.045491
CHL 159 4.524569
CHN 160 1.6
CHN 161 2.1
CHN 162 2.9
CHN 163 2.5
CHN 164 0.9
EST 165 3.417236
EST 166 3.436327
EST 167 2.277259
EST 168 -0.4445311
EST 169 4.653167
IND 170 2.490887
IND 171 4.8607
IND 172 7.659695
IND 173 5.561349
IND 174 4.890086
IDN 175 3.808798
IDN 176 3.198346
IDN 177 3.030587
IDN 178 1.920968
IDN 179 1.560136
ISR 180 0.2449531
ISR 181 0.8173239
ISR 182 0.8441287
ISR 183 -0.5884303
ISR 184 1.492288
RUS 185 3.683334
RUS 186 2.878305
RUS 187 4.470367
RUS 188 3.38166
RUS 189 6.694456
SVN 190 1.429107
SVN 191 1.738609
SVN 192 1.630523
SVN 193 -0.05485681
SVN 194 1.917065
ZAF 195 5.184247
ZAF 196 4.517165
ZAF 197 4.120246
ZAF 198 3.210036
ZAF 199 4.611672
OECD 200 2.281251
OECD 201 2.606984
OECD 202 2.068409
OECD 203 1.368637
OECD 204 3.98303
G-7 205 1.769906
G-7 206 2.088463
G-7 207 1.521069
G-7 208 0.8741899
G-7 209 3.493357
OECDE 210 2.482395
OECDE 211 3.020584
OECDE 212 2.612754
OECDE 213 1.657686
OECDE 214 4.117882
COL 215 4.312141
COL 216 3.240234
COL 217 3.525493
COL 218 2.524621
COL 219 3.495146
LVA 220 2.930369
LVA 221 2.53446
LVA 222 2.811403
LVA 223 0.2190611
LVA 224 3.275814
SAU 225 -0.8381946
SAU 226 2.458142
SAU 227 -2.093333
SAU 228 3.445458
SAU 229 3.06329
EA19 230 1.5
EA19 231 1.8
EA19 232 1.2
EA19 233 0.3
EA19 234 2.6
ARG 235 34.27723
ARG 236 53.54831
ARG 237 42.01509
ARG 238 48.40938
LTU 239 3.722889
LTU 240 2.697928
LTU 241 2.334509
LTU 242 1.199894
LTU 243 4.683544
G-20 244 2.348287
G-20 245 3.23429
G-20 246 3.574385
G-20 247 2.707257
G-20 248 4.29045
EU27_2020 249 1.6
EU27_2020 250 1.8
EU27_2020 251 1.4
EU27_2020 252 0.7
EU27_2020 253 2.9

In [23]:
df

,TIME,AUS,AUT,BEL,CAN,CZE,DNK,FIN,FRA,DEU,...,G-7,OECDE,COL,LVA,SAU,EA19,ARG,LTU,G-20,EU27_2020
0,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.replace({'AUS':1},100)

,TIME,AUS,AUT,BEL,CAN,CZE,DNK,FIN,FRA,DEU,...,G-7,OECDE,COL,LVA,SAU,EA19,ARG,LTU,G-20,EU27_2020
0,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN